<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="#" th:action="@{/api/v1/contacts/{id}(id=${contact.id})}" th:object="${contact}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <br>
  <label for="email">Phone</label>
  <input type="text" th:field="*{phone}" id="email" placeholder="Email">

  <input type="submit" value="Update Contact">
</form>
</body>
</html>