<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="#" th:action="@{/api/v1/contacts/edit/{id}(id=${contact.id})}" th:object="${contact}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <br>
  <label for="phone">Phone</label>
  <input type="text" th:field="*{phone}" id="phone" placeholder="Phone">
  <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <br>
    <label for="region">Region</label>
    <input type="text" th:field="*{region}" id="region" placeholder="Region">
  <br>
    <label for="locality">Locality</label>
    <input type="text" th:field="*{locality}" id="locality" placeholder="Locality">
  <br>
  <label for="photo">Photo</label>
  <input type="text" th:field="*{photo}" id="photo" placeholder="Photo">
  <br>
  <input type="submit" value="Update Contact">
</form>
<a href="/api/v1/contacts">Go back</a>
</body>
</html>